<!--The content below is only a placeholder and can be replaced.-->

  <div style="text-align:center" class="container">
    <h1>
      Bienvenido a la aplicación {{ title }}!
    </h1>
    <h2> Digite su pregunta.</h2>
    <div class="form-group">
      <input type="text" class="form-control" #question placeholder="Pregunta">
    </div>
    <br>
    
    <button (click)="mostrar(question)">
      <b>Aceptar</b>
    </button>
    <br>
    <h3>{{respuesta}}</h3>
    <br>
    <img [src]="imageSource" *ngIf="imageSource" />
  </div>